/*
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Gilda Display', serif;
font-family: 'Roboto', sans-serif;
 */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Gilda Display', serif;
  position: relative;
  z-index: -2;
}

/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  background-color: rgb(50, 50, 50);
  top: 0;
  height: 70px;
}

.nav-container {
  margin: 0;
  float: right;
}

.nav-header-wrapper {
  position: absolute;
  height: 70px;
  left: 30px;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-header {
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  list-style: none;
  line-height: 70px;
}

.nav-item {
  list-style: none;
  display: inline-block;
  margin-right: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 70px;
}

.hamburger-btn {
  display: none;
  color: white;
  background: none;
  border: none;
}

.hamburger-btn:hover{
  cursor: pointer;
  transition: color 0.15s ease-out;
  color: hsl(0, 100%, 45%);
}

.nav-menu-links {
  visibility: visible;
  opacity: 1;
}

.nav-menu-link {
  text-decoration: none;
  color: rgb(230, 230, 230);
  position: relative;
  transition: color 0.15s ease-out;
}

.nav-menu-link:hover {
  color: white;
}

.nav-menu-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -5px;
  background: hsl(0, 100%, 45%);
  visibility: hidden;
  transform: scalex(0);
  transition: 0.15s ease-out;
}

.nav-menu-link:hover::before {
  visibility: visible;
  transform: scalex(1);
}

.navbar::after {
  content: "";
  clear: both;
  display: table;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Main */
.main-content {
  position: relative;
  height: calc(100vh - 70px);
  top: 70px;
  background-color: black;
  overflow: hidden;
  z-index: -1;
}

.main-content-heading  {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  margin: 0 0 30px 0;
}

.sub-heading {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
}

.back-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: opacity 1.7s, transform 8s linear;
}

.sliding-back-img {
  transform: scale(1.06);
}

.onload-item {
  transition: opacity 2s;
  opacity: 0;
}

.fade-text-box {
  z-index: 2;
  position: absolute;
  width: 40%;
  max-height: 90%;
  overflow-y: auto;
}

.fade-text-box::before {
  content: "";
  display: block;
  height: 100px;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.fade-text-box::after {
  content: "";
  display: block;
  height: 100px;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%) ;
}

.fa-intro-text-box::before, .fa-intro-text-box::after, .news-grid-text-box::before,
.news-grid-text-box::after, .news-grid-title-box::before, .news-grid-title-box::after {
  height: 60px;
}

.text-box-inner-wrapper {
  padding: 4%;
  background: rgba(255, 255, 255, 1);
}

.fade-text-box ul li {
  margin-bottom: 1em;
}

/* Home */
.home-text-box-0 {
  top: 5%;
  left: 5%;
}

.home-text-box-1 {
  bottom: 5%;
  right: 5%;
}

.profile-img-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.profile-img {
  max-width: 300px;
  border-radius: 30%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.fade-text-box-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.copyright-msg {
  position: absolute;
  bottom: 0;
  left: 1%;
  font-family: 'Overpass', sans-serif;
  font-weight: 100;
  color: white;
  font-size: 0.7rem;
}

/* About */
.slides-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  transition: transform 1s;
  align-items: stretch;
  min-height: calc(100vh - 70px);
  height: auto;
}

.slide-container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 70px);
}

.slide-content {
  align-self: flex-start;
}

.about-text-box-0, .about-text-box-2 {
  top: 5%;
  right: calc(5% + 30px);
}

.about-text-box-1, .about-text-box-3 {
  top: 5%;
  left: calc(5% + 30px);
}

.arrow-btn {
  position: absolute;
  border: none;
  background: none;
  color: hsl(0, 100%, 45%);
  transition: all 0.25s;
  z-index: 2;
  padding: 0;
}

.arrow-btn:hover {
  color: hsl(21, 100%, 45%);
  cursor: pointer;
}

.down-arrow-btn {
  left: calc(50% - 41px);
  bottom: 0;
}

.up-arrow-btn {
  left: calc(50% - 41px);
  top: 0;
}

.down-arrow-btn:hover {
  transform: translatey(15px);
  padding-top: 15px;
}

.up-arrow-btn:hover {
  transform: translatey(-15px);
  padding-bottom: 15px;
}

.madrid-inst-img {
  width: 50%;
}

.tokyo-team-img {
  width: 65%;
}

.stem-img {
  width: 50%;
}

/* Publications */
.grid-container {
  width: 100vw;
  height: calc(100vh - 70px);
}

.pubs-intro-text-box {
  top: 30%;
  right: calc(5% + 30px);
}

.four-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.fa-intro-text-box {
  width: 75%;
}

.grid-img {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  transition: all 0.45s;
}

.grid-section {
  position: relative;
  overflow: hidden;
}

.grid-section:hover .grid-img {
  transform: scale(1.2);
}

.grid-text-box-outer-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.grid-heading {
  margin: 15px auto 30px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 2.8rem;
  overflow-wrap: anywhere;
}

.grid-text-box {
  width: 50%;
  left: 10%;
}

.fa-intro-text-box {
  width: 70%;
}

.hlink {
  color: cornflowerblue;
  text-decoration: none;
}

.ai-closed-access {
  color: crimson;
}

/* Co-authored publications */
.eight-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.eight-grid-section:nth-child(3n) {
  background-color: hsl(216, 18%, 7%);
}

.eight-grid-section:nth-child(3n + 1) {
  background-color:	hsl(217, 10%, 25%);
}

.eight-grid-section:nth-child(3n + 2) {
  background-color:	hsl(27, 81%, 40%);
}

.ca-grid-img {
  object-fit: contain;
  transition: all 0.45s;
  opacity: 0.05;
  flex: 1 1 0;
  min-height: 0;
  margin: 2%;
}

.eight-grid-section {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.eight-grid-section:hover .ca-grid-img {
  opacity: 1;
}

.eight-text-box-wrapper {
  flex: 1 0 0;
  display: flex;
  width: 86%;
}

.eight-text-box-inner-wrapper {
  padding: 4%;
  background: rgba(255, 255, 255, 1);
}

.eight-grid-title-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eight-text-box-wrapper {
  margin: 7% 7% 5%;
  flex-direction: column;
}

.eight-text-box-wrapper::after {
  content: "";
  display: block;
  height: 60px;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%) ;
}

.eight-grid-section .ca-grid-img {
  margin: 0 7% 7%;
}

/* News */
.news-img-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-grid-section {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 2rem;
}

.news-grid-title-box {
  width: 50%;
  left: 10%;
}

.news-mbl-info {
  display: none;
}

.news-grid-text-box {
  width: 70%;
  left: 10%;
  transition: all 0.5s;
}

.news-grid-img {
  transition: all 0.45s;
}

.contain-news-img {
  max-height: 90%;
  max-width: 90%;
}
.cover-news-img {
  object-fit: cover;
}
.half-news-img {
  height: 50%;
  flex: 1 1 auto;
}

@media (min-width: 1024px) {
  .news-grid-section:hover .news-grid-img {
    transform: scale(1.2);
  }

  .news-grid-section:hover .news-grid-text-box {
    opacity: 1;
  }

  .news-grid-section:hover .caption-wrapper {
    opacity: 0;
  }

  .news-grid-text-box {
    opacity: 0;
  }
}

.news-date-header {
  font-size: 0.8rem;
}

/* Contact */
.contact-text-box-0 {
  top: 5%;
  left: 5%;
}

.contact-text-box-1 {
  bottom: 5%;
  right: 5%;
}

.address p {
  margin: 0.2em;
}

.contact-text-box-0 hr {
  border: 1px solid salmon;
  margin: 60px 0;
}

.contact-icon {
	font-size: 3rem;;
	width: 4rem;;
	text-align: center;
  text-decoration: none;
  color: cornflowerblue;
  margin: 10px auto;
}

.contact-icon:hover {
  color: salmon;
  cursor: pointer;
}

.show-mail-btn {
  background: 0;
  border: 0;
}

.email-address {
  display: block;
  text-decoration: none;
  color: cornflowerblue;
  margin: 50px 0 50px 10px;
  transition: all 0.5s;
}

.map-wrapper {
  margin: 0 auto;
  text-align: center;
}

.loc-map {
  border: 0;
  width: 80%;
  aspect-ratio: 1/1;
}

/* Slides navigator */
.slides-nav-wrapper {
  position: fixed;
  left: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  justify-content: center;
  z-index: 2;
}

.slides-nav {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.slides-nav-btn {
  position: relative;
  background-color: white;
  display: inline-block;
  width: 23px;
  height: 12px;
  margin: 10px 10px;
  vertical-align: middle;
  transition: background-color 0.3s;
  border-radius: 6px;
}

.slides-nav-btn:hover {
  cursor: pointer;
  background-color: pink;
}

.slides-nav-btn:hover .slides-nav-btn-caption {
  opacity: 1;
}

.slides-nav-caption-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 800px;
  left: 40px;
  top: calc(-400px + 10px);
  pointer-events: none;
  justify-content: center;
}

.slides-nav-btn-caption {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 5px 10px;
  color: white;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.slides-nav-btn-curr {
  background-color: hsl(0, 100%, 45%);
}

/* Caption image */
.total-cap-img-wrapper {
  display: flex;
  justify-content: center;
}

.img-with-caption {
  position: relative;
  display: flex;
  justify-content: center;
}

.caption-img {
  width: 100%;
  border-radius: 5px;
}

.caption-wrapper {
  position: absolute;
  max-width: 80%;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  max-height: 50%;
  overflow: auto;
  transition: all 0.5s;
}

.caption-narrow {
  max-width: 26%;
}

.caption-top {
  top: 2%;
}

.caption-bottom {
  bottom: 2%;
}

.news-caption-bottom {
  bottom: 6%;
}

.caption-sub-wrapper {
  padding: 5px;
}

.caption {
  color: white;
  font-size: 0.7rem;
  font-family: 'Ubuntu', sans-serif;
}


/* Media queries. */

/* Large desktop, shrinking */
@media only screen and (max-width: 1250px) {
  /* Nav */
  .nav-header {
    font-size: 2.5rem;
  }

  .nav-menu-item {
    font-size: 1.2rem;
  }
}

/* Tablet up to desktop size. */
@media only screen and (max-width: 1023px) {
  /* Nav */
  .hamburger-btn {
    display: inline-block;
  }

  .nav-menu-item {
    line-height: 60px;
  }

  .nav-menu-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(40, 40, 40);
    position: absolute;
    top: 70px;
    right: 0;
    padding-left: 20px;
    line-height: 40px;
    transition: all 0.5s;
    z-index: -1;
  }

  .nav-menu-sm-hidden {
    visibility: hidden;
  }

  .nav-menu-small-slide-off {
    right: -210px;
  }

  /* General */
  .main-content {
    height: auto;
  }

  .arrow-btn {
    display: none;
  }

  .fade-text-box {
    position: relative;
    max-height: none;
    width: 80%;
    margin: 5% auto;
    text-align: center;
  }

  .slide-container {
    display: flex;
    justify-content: center;
    height: auto;
    align-items: flex-start;
  }

  .arrow-btn {
    font-size: 0.5em;
  }

  /* Home */
  .home-text-box-0 {
    top: 50px;
    left: auto;
  }

  .home-text-box-1 {
    bottom: auto;
    right: auto;
    margin: 125px auto 75px;
  }

  .profile-img {
    max-width: 80%;
    margin: auto;
  }

  /* About */
  .about-text-box-0, .about-text-box-2 {
    top: auto;
    right: auto;
    padding: 50px 0;
  }

  .about-text-box-1, .about-text-box-3 {
    top: auto;
    left: auto;
    padding: 50px 0;
  }

  /* Contact */
  .contact-text-box-0 {
    top: 50px;
    left: auto;
  }

  .contact-text-box-1 {
    bottom: auto;
    right: auto;
    margin: 125px auto 75px;
  }

  /* Publications */
  .pubs-intro-text-box {
    top: auto;
    right: auto;
  }

  /* News */
  .news-img-wrapper {
    position: absolute;
  }

  .news-grid-text-box {
    opacity: 1;
  }

  .cover-news-img {
    position: absolute;
  }

  .news-grid-title-box {
    left: auto;
  }

  .news-grid-text-box {
    left: auto;
  }

  .news-mbl-info {
    display: block;
  }

  /* Grids */
  .grid-container {
    height: auto;
  }

  .four-grid {
    grid-template-rows: auto;
  }

  .eight-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .eight-grid-section:nth-child(2) {
    background-color: hsl(216, 18%, 7%);
  }

  .eight-grid-section:nth-child(1) {
    background-color:	hsl(27, 81%, 40%);
  }

  .grid-text-box-outer-wrapper {
    position: relative;
    height: auto;
    justify-content: center;
  }

  .grid-img {
    position: absolute;
  }

  .grid-text-box {
    left: auto;
  }

  .ca-grid-img {
    display: none;
  }

  .grid-intro-section {
    align-items: center;
  }
}

/* Mobile size. */
@media only screen and (max-width: 767px) {
  /* Nav */
  .nav-header-wrapper {
    max-width: 60%;
  }

  .nav-header {
    font-size: 2rem;
    line-height: 25px;
  }

  .nav-menu-item {
    font-size: 1.2rem;
    line-height: 45px;
  }

  /* General */
  .main-content-heading {
    font-size: 8vw;
  }

  .arrow-btn {
    font-size: 0.3em;
  }

  .down-arrow-btn {
    right: 5px;
  }

  .up-arrow-btn {
    left: 5px;
  }

  /* Slides */
  .slides-nav-wrapper {
    left: 7px;
  }

  .slides-nav-btn {
    width: 15px;
    height: 15px;
  }

  /* About */
  .madrid-inst-img {
    width: 90%;
  }

  .tokyo-team-img {
    width: 90%;
  }

  .stem-img {
    width: 90%;
  }

  /* Grid */
  .four-grid {
    grid-template-columns: 1fr;
  }

  .eight-grid {
    grid-template-columns: 1fr;
  }

  .eight-grid-section:nth-child(8) {
    background-color: hsl(216, 18%, 7%);
  }

  .eight-grid-section:nth-child(2) {
    background-color:	hsl(217, 10%, 25%);
  }

  .grid-intro-section {
    min-height: calc(100vh - 70px);
  }
}

/* Visibility classes, for carousel. */
.hidden {
  visibility: hidden;
}

.transp {
  opacity: 0;
}

.hidden-and-transp {
  visibility: hidden;
  opacity: 0;
}

.fully-hidden {
  display: none;
}
